{
  "presets": [
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": [ "./src" ]
    }]
  ]
}
